.tab{
    font-weight: 600;
}
.tabs .tab a{
    color: #42A5F5;
}
.tabs .tab a:hover, .tabs .tab a.active{
    color: #42A5F5;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: rgba(0, 176, 255, 0.09);
}
.tabs .indicator{
    background: #42A5F5;
}
.day-name{
    font-weight: 600;
    font-size: 25px;
    margin: 0;
}