{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Розклад занять</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'lib-css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'custom-css/timetable.css' %}">
    <script type="text/javascript" charset="UTF-8" src="{% static 'lib-js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
<!--------------------------------------------HEADER------------------------------------------------------------------->
<header>
    <nav>
        <div class="nav-wrapper blue lighten-1">
            <a href="/" class="brand-logo center">Розклад занять</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#" data-target="slide-out" class="right-sidebar">
                    <i class="material-icons" style="font-size: 50px">menu</i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--------------------------------------------HEADER------------------------------------------------------------------->
<!-------------------------------------------SideBar------------------------------------------------------------------->
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{% static 'img/sidenav.jpg' %}">
            </div>
            <a href="#"><i class="material-icons" style="font-size: 100px">account_circle</i></a>

        </div>
    </li>
    <li><a href="#"><i class="material-icons">assignment</i>Групи коледжу</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <!-- Group -->
    {% for item in menu %}
        <li><a class="waves-effect" href="/timetable/{{ item.number }}/">{{ item.number }}</a></li>
    {% endfor %}
</ul>
<!-------------------------------------------SideBar------------------------------------------------------------------->
<!--------------------------------------------Div Group---------------------------------------------------------------->
<div style="
    background: rgba(0,0,0,0.12);
    width: 50%;
    height: 37px;
    text-align: center;
    margin: auto;
    border-radius: 0px 0px 25px 28px;
    color: #7c6060;
    font-weight: 600;
    font-size: 22px;">
    541 група
</div>
<!--------------------------------------------Div Group---------------------------------------------------------------->
<!---------------------------------------------START CARDS------------------------------------------------------------->
{% block timetable %}{% endblock timetable %}
<!-----------------------------------------------END CARDS------------------------------------------------------------->
<div class="footer-copyright blue lighten-1" style="padding: 20px; border-radius: 10px 10px 0 0">
    <div class="container blue lighten-2">
    </div>
</div>

<script type="text/javascript" src="{% static 'lib-js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'custom-js/timetable.js' %}"></script>
</body>
</html>