{% extends 'timetable/detail_timetable_base.html' %}
{% block timetable %}
    <div class="row" style="padding-left: 155px; padding-right: 55px; margin-top: 50px;">
        <div class="card col s5 " style="margin-right: 111px">
            <div class="card-content">
                <p class="center day-name">Понеділок</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    {% if  obj.first_lesson is not None %}
                        <li class="tab"><a href="#test1">1 пара</a></li>
                    {% endif %}
                    {% if  obj.second_lesson is not None %}
                        <li class="tab"><a href="#test2">2 пара</a></li>
                    {% endif %}
                    {% if  obj.third_lesson is not None %}
                        <li class="tab"><a href="#test3">3 пара</a></li>
                    {% endif %}
                    {% if  obj.fourth_lesson is not None %}
                        <li class="tab"><a href="#test4">4 пара</a></li>
                    {% endif %}
                    {% if  obj.fifth_lesson is not None %}
                        <li class="tab"><a href="#test5">5 пара</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-content grey lighten-4" style="min-height: 116px; max-height: 116px;">
                {% if  obj.first_lesson is not None %}
                    <div id="test1">
                        <p>Викладач: {{ obj.first_lesson.surname }}
                                     {{ obj.first_lesson.name }}
                                     {{ obj.first_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ obj.first_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  obj.second_lesson is not None %}
                    <div id="test2">
                    <p>Викладач: {{ obj.second_lesson.surname }}
                                     {{ obj.second_lesson.name }}
                                     {{ obj.second_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ obj.second_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  obj.third_lesson is not None %}
                    <div id="test3"> <p>Викладач: {{ obj.third_lesson.surname }}
                                     {{ obj.third_lesson.name }}
                                     {{ obj.third_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ obj.third_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  obj.fourth_lesson is not None %}
                    <div id="test4"><p>Викладач: {{ obj.fourth_lesson.surname }}
                                     {{ obj.fourth_lesson.name }}
                                     {{ obj.fourth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ obj.fourth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  obj.fifth_lesson is not None %}
                    <div id="test5"><p>Викладач: {{ obj.fifth_lesson.surname }}
                                     {{ obj.fifth_lesson.name }}
                                     {{ obj.fifth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ obj.fifth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
            </div>
        </div>


        <div class="card col s5 ">
            <div class="card-content">
                <p class="center day-name">Вівторок</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    {% if  tuesday.first_lesson is not None %}
                        <li class="tab active"><a class="active" href="#test6">1 пара</a></li>
                    {% endif %}
                    {% if  tuesday.second_lesson is not None %}
                        <li class="tab"><a href="#test7">2 пара</a></li>
                    {% endif %}
                    {% if  tuesday.third_lesson is not None %}
                        <li class="tab"><a href="#test8">3 пара</a></li>
                    {% endif %}
                    {% if  tuesday.fourth_lesson is not None %}
                        <li class="tab"><a href="#test9">4 пара</a></li>
                    {% endif %}
                    {% if  tuesday.fifth_lesson is not None %}
                        <li class="tab"><a href="#test10">5 пара</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-content grey lighten-4" style="min-height: 116px; max-height: 116px;">
                {% if  tuesday.first_lesson is not None %}
                    <div id="test6" class="active">
                        <p>Викладач: {{ tuesday.first_lesson.surname }}
                                     {{ tuesday.first_lesson.name }}
                                     {{ tuesday.first_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ tuesday.first_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  tuesday.second_lesson is not None %}
                    <div id="test7">
                    <p>Викладач: {{ tuesday.second_lesson.surname }}
                                     {{ tuesday.second_lesson.name }}
                                     {{ tuesday.second_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ tuesday.second_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  tuesday.third_lesson is not None %}
                    <div id="test8"> <p>Викладач: {{ tuesday.third_lesson.surname }}
                                     {{ tuesday.third_lesson.name }}
                                     {{ tuesday.third_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ tuesday.third_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  tuesday.fourth_lesson is not None %}
                    <div id="test9"><p>Викладач: {{ tuesday.fourth_lesson.surname }}
                                     {{ tuesday.fourth_lesson.name }}
                                     {{ tuesday.fourth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ tuesday.fourth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  tuesday.fifth_lesson is not None %}
                    <div id="test10"><p>Викладач: {{ tuesday.fifth_lesson.surname }}
                                     {{ tuesday.fifth_lesson.name }}
                                     {{ tuesday.fifth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ tuesday.fifth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
            </div>
        </div>
    </div>


<!----------------------------------FIRST SECTION--------------------------------------------------------------------->


   <div class="row" style="padding-left: 155px; padding-right: 55px; margin-top: 50px;">
        <div class="card col s5 " style="margin-right: 111px;">
            <div class="card-content">
                <p class="center day-name">Середа</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    {% if  wednesday.first_lesson is not None %}
                        <li class="tab"><a href="#test11">1 пара</a></li>
                    {% endif %}
                    {% if  wednesday.second_lesson is not None %}
                        <li class="tab"><a href="#test12">2 пара</a></li>
                    {% endif %}
                    {% if  wednesday.third_lesson is not None %}
                        <li class="tab"><a href="#test13">3 пара</a></li>
                    {% endif %}
                    {% if  wednesday.fourth_lesson is not None %}
                        <li class="tab"><a href="#test14">4 пара</a></li>
                    {% endif %}
                    {% if  wednesday.fifth_lesson is not None %}
                        <li class="tab"><a href="#test15">5 пара</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-content grey lighten-4" style="min-height: 116px; max-height: 116px;">
                {% if  wednesday.first_lesson is not None %}
                    <div id="test11">
                        <p>Викладач: {{ wednesday.first_lesson.surname }}
                                     {{ wednesday.first_lesson.name }}
                                     {{ wednesday.first_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.first_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  wednesday.second_lesson is not None %}
                    <div id="test12">
                    <p>Викладач: {{ wednesday.second_lesson.surname }}
                                     {{ wednesday.second_lesson.name }}
                                     {{ wednesday.second_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.second_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  wednesday.third_lesson is not None %}
                    <div id="test13"> <p>Викладач: {{ wednesday.third_lesson.surname }}
                                     {{ wednesday.third_lesson.name }}
                                     {{ wednesday.third_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.third_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  wednesday.fourth_lesson is not None %}
                    <div id="test14"><p>Викладач: {{ wednesday.fourth_lesson.surname }}
                                     {{ wednesday.fourth_lesson.name }}
                                     {{ wednesday.fourth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.fourth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  wednesday.fifth_lesson is not None %}
                    <div id="test15"><p>Викладач: {{ wednesday.fifth_lesson.surname }}
                                     {{ wednesday.fifth_lesson.name }}
                                     {{ wednesday.fifth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.fifth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
            </div>
        </div>


        <div class="card col s5 ">
            <div class="card-content">
                <p class="center day-name">Четвер</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    {% if  thursday.first_lesson is not None %}
                        <li class="tab active"><a class="active" href="#test16">1 пара</a></li>
                    {% endif %}
                    {% if  thursday.second_lesson is not None %}
                        <li class="tab"><a href="#test17">2 пара</a></li>
                    {% endif %}
                    {% if  thursday.third_lesson is not None %}
                        <li class="tab"><a href="#test18">3 пара</a></li>
                    {% endif %}
                    {% if  thursday.fourth_lesson is not None %}
                        <li class="tab"><a href="#test19">4 пара</a></li>
                    {% endif %}
                    {% if  thursday.fifth_lesson is not None %}
                        <li class="tab"><a href="#test20">5 пара</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-content grey lighten-4" style="min-height: 116px; max-height: 116px;">
                {% if  thursday.first_lesson is not None %}
                    <div id="test16" class="active">
                        <p>Викладач: {{ thursday.first_lesson.surname }}
                                     {{ thursday.first_lesson.name }}
                                     {{ thursday.first_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ thursday.first_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  thursday.second_lesson is not None %}
                    <div id="test17">
                    <p>Викладач: {{ thursday.second_lesson.surname }}
                                     {{ thursday.second_lesson.name }}
                                     {{ thursday.second_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ thursday.second_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  thursday.third_lesson is not None %}
                    <div id="test18"> <p>Викладач: {{ thursday.third_lesson.surname }}
                                     {{ thursday.third_lesson.name }}
                                     {{ thursday.third_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ thursday.third_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  thursday.fourth_lesson is not None %}
                    <div id="test19"><p>Викладач: {{ thursday.fourth_lesson.surname }}
                                     {{ thursday.fourth_lesson.name }}
                                     {{ thursday.fourth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ thursday.fourth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  thursday.fifth_lesson is not None %}
                    <div id="test20"><p>Викладач: {{ thursday.fifth_lesson.surname }}
                                     {{ thursday.fifth_lesson.name }}
                                     {{ thursday.fifth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ thursday.fifth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
            </div>
        </div>
    </div>
<!---------------------------------------------------Second SECTION---------------------------------------------------->

    <div class="row" style=" margin-top: 50px; margin-left: 110px">
        <div class="card col s5 offset-s3">
            <div class="card-content">
                <p class="center day-name">П'ятниця</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    {% if  wednesday.first_lesson is not None %}
                        <li class="tab"><a href="#test21">1 пара</a></li>
                    {% endif %}
                    {% if  wednesday.second_lesson is not None %}
                        <li class="tab"><a href="#test22">2 пара</a></li>
                    {% endif %}
                    {% if  wednesday.third_lesson is not None %}
                        <li class="tab"><a href="#test23">3 пара</a></li>
                    {% endif %}
                    {% if  wednesday.fourth_lesson is not None %}
                        <li class="tab"><a href="#test24">4 пара</a></li>
                    {% endif %}
                    {% if  wednesday.fifth_lesson is not None %}
                        <li class="tab"><a href="#test25">5 пара</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-content grey lighten-4" style="min-height: 116px; max-height: 116px;">
                {% if  wednesday.first_lesson is not None %}
                    <div id="test21">
                        <p>Викладач: {{ wednesday.first_lesson.surname }}
                                     {{ wednesday.first_lesson.name }}
                                     {{ wednesday.first_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.first_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  wednesday.second_lesson is not None %}
                    <div id="test22">
                    <p>Викладач: {{ wednesday.second_lesson.surname }}
                                     {{ wednesday.second_lesson.name }}
                                     {{ wednesday.second_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.second_lesson_room }}</p>
                        <p>Час: </p>
                    </div>
                {% endif %}
                {% if  wednesday.third_lesson is not None %}
                    <div id="test23"> <p>Викладач: {{ wednesday.third_lesson.surname }}
                                     {{ wednesday.third_lesson.name }}
                                     {{ wednesday.third_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.third_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  wednesday.fourth_lesson is not None %}
                    <div id="test24"><p>Викладач: {{ wednesday.fourth_lesson.surname }}
                                     {{ wednesday.fourth_lesson.name }}
                                     {{ wednesday.fourth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.fourth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
                {% if  wednesday.fifth_lesson is not None %}
                    <div id="test25"><p>Викладач: {{ wednesday.fifth_lesson.surname }}
                                     {{ wednesday.fifth_lesson.name }}
                                     {{ wednesday.fifth_lesson.last_name }}
                        </p>
                        <p>Аудиторія: {{ wednesday.fifth_lesson_room }}</p>
                        <p>Час: </p></div>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock timetable %}