{% extends 'timetable/base.html' %}
{% block content %}
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
            <h1>{{ post.title }}</h1>
        </a>
            <div>Tags:<small>
                {% for tag in post.tags.all %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                {% endfor %}
            </small></div>

    {% endfor %}
{% endblock content %}