<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>2112</h1>

{% for post in posts %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
{% endfor %}

</body>
</html>